<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Viec Can Lammm</h1>
<ul>
    <li th:each="todo: ${todoList}" th:object="${todo}">
        <span th:text="*{title}"></span> : <span th:text="*{detail}"></span>
        <a th:href="@{/delete-todo(id=*{id})}">Delete</a>
    </li>
</ul>
<a th:href="@{add-todo}"> Them Cong Viec</a>
</body>
</html>